.item2 {
  height: 60vw;
  display: flex;
  overflow: auto;
}
.overlap {
  width: 60%;
  position: relative;
}
.overlap img {
  border-style: groove;
}
.imgh4-1 {
  position: absolute;
  width: 22.7909vw;
  left: 30vw;
  top: 12vw;
}
.imgh4-2 {
  position: absolute;
  width: 18.75vw;
  left: 11vw;
  top: 7.2vw;
}
.imgh4-3 {
  position: absolute;
  width: 18.75vw;
  left: 23vw;
  top: 19vw;
}
.overlap_contain {
  width: 40%;
  display: flex;
  align-items: center;
}
.introduce {
  font-size: 1em;
  width: 80%;
}
@media(max-width:640px){
  .item2 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
.overlap {
  width: 60%;
  position: relative;
}
.overlap img {
  border-style: none;
}
.imgh4-1 {
  position: absolute;
  width: 20vh;
  left: 30vw;
  top: 35vh;
}
.imgh4-2 {
  position: absolute;
  width: 20vh;
  left: 2vh;
  top: 30vh;
}
.imgh4-3 {
  position: absolute;
  width: 20vh;
  left: 5vh;
  top: 45vh;
}
.overlap_contain {
  margin-top: 70vh;
  width: 75%;
  display: flex;
  align-items: center;
  font-size: 1.2em;
}
.overlap_contain h2{
  font-size: 2.5em;
  font-weight: 400;
}
.introduce {
  font-size: 1em;
  width: 100%;
}

}
